* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.home-section {
  background-image: linear-gradient(to bottom, transparent 70%, black 100%), url("assets/images/9.jpg");
  background-size: cover;
  background-position: center;  
  width: 100%;
}

.navbar-brand img{
  height: auto;
  width: 40px;
}

.glass {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px) brightness(130%);
}

.navbar .nav-link{
  border-bottom: 2px solid transparent;
  transition: border-color 0.1s ease-in-out;
}

.navbar .nav-link:hover{
  border-bottom-color: black;
}

.islands-section{
  background-image:  linear-gradient(to bottom, black 0%, transparent 15%), linear-gradient(to bottom, transparent 70%, black 100%), url("assets/images/4.jpg");
  background-size: cover;
  background-position: center;    
  height: 100vh;
  width: 100%;
}

.three-island{
  background-color: black;
}

.three-island .container{
  position: relative;
  z-index: 2;
}

.island-card {
  background: rgba(56, 54, 31, 1);
  height: auto;
  border-radius: 20px;
  padding: 20px 10px;
  transition: all 0.4s ease;
  backdrop-filter: blur(2px);
}

.island-card:hover{
  transform: translateY(-10px);
  background: rgba(56, 54, 31, 1);
}

.island-card img{
  height: 250px;
  width: 380px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.explore-section{
  background-image: linear-gradient(to bottom, black 0%, transparent 15%), linear-gradient(to bottom, transparent 70%, black 100%), url("assets/images/18.jpg");
  background-size: cover;
  background-position: center;    
  height: 100vh;
  width: 100%;
}

.places-section{
  background-color: black;
}

.last-img{
  background-image: linear-gradient(to bottom, black 0%, transparent 15%), linear-gradient(to bottom, transparent 70%, black 100%), url("assets/images/last.jpg");
  background-size: cover;
  background-position: center;    
  height: 100vh;
  width: 100%;
}